@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

.hero-wave {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #e6f3ee 30%,
    #b7dbc8 65%,
    #7c9082 100%
  );
}



/* Second deeper wave
.hero-wave::after {
  content: "";
  position: absolute;
  bottom: -120px;
  left: -15%;
  width: 130%;
  height: 260px;
  background: rgba(124, 144, 130, 0.45);
  border-radius: 50% 50% 0 0;
  animation: waveMove 55s ease-in-out infinite reverse;
} */
